{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
    <div class="header">
        <h1>Product List</h1>
        <a href="{% url 'add-product' %}" class="add-product-link">Add Product</a>
    </div>

    {% if products %}
        <ul>
            {% for product in products %}
                <li>
                    <h2>{{ product.name }} - {{ product.brand }}</h2>
                    <p><strong>Price:</strong> ${{ product.price }}</p>
                    <p><strong>Description:</strong> {{ product.description }}</p>
                    <p><strong>Quantity:</strong> {{ product.quantity }}</p>

                    {% if product.prod_image %}
                        <img src="{{ product.prod_image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}

                    <h3>Reviews:</h3>
                    {% include 'partials/reviews.html' with reviews=product.reviews.all %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-data">No products available</p>
    {% endif %}
{% endblock %}