{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
    <div class="header">
        <h1>Product List</h1>
        <a href="{% url 'add-product' %}" class="add-product-link">Add Product</a>
    </div>

    {% if products %}
    <ul>
        {% for product in products %}
            <li class="product-item">
                <div class="product-image">
                    {% if product.prod_image %}
                        <img src="{{ product.prod_image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </div>
                <div class="product-details">
                    <h2 class="product-name">{{ product.name }}</h2>
                    <p class="product-brand"><strong>Brand:</strong> {{ product.brand }}</p>
                    <p class="product-price"><strong>Price:</strong> ₹{{ product.price }}</p>
                    <p class="product-description"><strong>Description:</strong> {{ product.description }}</p>
                    <p class="product-quantity"><strong>Quantity:</strong> {{ product.quantity }}</p>
                    <div class="product-reviews">
                        <h3>Customer Reviews:</h3>
                        {% include 'partials/reviews.html' with reviews=product.reviews.all %}
                    </div>
                </div>               
            </li>
        {% endfor %}
    </ul>
    
    {% else %}
        <p class="no-data">No products available</p>
    {% endif %}
{% endblock %}