{% extends 'base.html' %}

{% block title %}Create Order{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <h1>Create a New Order</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="product">Product:</label>
        <input 
            type="text" 
            id="product" 
            name="product" 
            value="{{ brand_name }}" 
            readonly
        >
        <br>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>

        <label for="order_date">Order Date:</label>
        <input type="datetime-local" id="order_date" name="order_date" required>

        <button type="submit">Create Order</button>
    </form>
</div>
{% endblock %}
